@model IQueryable<Movie>

@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-4">

    <!-- Filter Form -->
    <form asp-action="Index" method="get" class="row mb-4 g-2 align-items-end">
        <div class="col-md-2">
            <input type="text" name="MovieName" class="form-control" placeholder="MovieName" />
        </div>
        <div class="col-md-2">
            <input type="text" name="CinemaName" class="form-control" placeholder="Cinema" />
        </div>
      
        <div class="col-md-2">
            <select name="CategoryId" class="form-control">
                <option value="">All Categories</option>
                @foreach (var item in (List<Category>)ViewData["category"])
                {
                    <option value="@item.Id">@item.Name</option>
                })
                
                
            </select>
        </div>
        
        <div class="col-md-2">
            <button type="submit" class="btn btn-dark">Filter</button>
        </div>
    </form>

    <!-- Movies Section -->
    <h2 class="mb-4">Movies </h2>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card movie-card">
                    <img src="/images/movies/@item.ImgUrl" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <p class="card-text">@item.Category.Name</p>
                        <p class="card-text">@item.Description</p>
                        <p class="card-text">Price: @item.Price.ToString("c")</p>
                        <p class="card-text">Cinema: @item.Cinema?.Name</p>
                        <p class="card-text">Start Date: @item.StartDate</p>
                        <p class="card-text">End Date: @item.EndDate</p>

                        @if (item.MovieStatus > 0)
                        {
                            <a href="/Home/Booking/@item.Id" class="btn btn-primary">Book Now</a>
                        }
                        else
                        {
                            <button class="btn btn-secondary" disabled>Coming Soon</button>
                        }

                        <a href="/Home/Details/@item.Id" class="btn btn-primary">Show Details</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

        
